*{
    outline: none;
    text-decoration: none;
}

html{
    
    color: #ffffff;
    overflow-x: hidden;
}

a {

    text-decoration: none;!important;
    color: black;
}

a:hover,a:visited,a:link,a:active {
    text-decoration: none!important;
    color: black;
}



.mycar {
     min-height: 200px;
     max-height: 600px;
     background-color: red;
     margin-bottom: 20px;
    
}
.car_con {
    
    max-width: 15px;
   
}
.item-box {
    
    padding: 10px;
    
    
}
.item-box:hover {
    
    border: solid 1px #d0cbcb;
    border-radius: 11px;
    
    
}
.list-items {
    
    margin-left: 20px;
}
.item-img {
    
    max-height: 200px;
    max-width: 300px;
    
}
.car_con:hover {
    
    background-color: black;
}

.categories {
    
    margin-bottom: 50px;
    
}

.cata-links {
     margin-left: 10px;
    margin-right: 10px;
}

ul.dropdown-styles {
    margin-top: 10px;
    padding: 20px;
    border: solid 2px black;
    width:400px;
    color: cornflowerblue;
}

.buttons {
    border-radius: 10px;
    background-color: aquamarine;
}

.data-box{
    
    margin: auto 40%;
    margin-top: 5%;
    
}

.logo-login{
    
    min-width: 100px;
    max-width: 200px;
    
}
input{
   border-radius: 5px;
    border-top: solid 1px rgb(26, 136, 172);
    transition: 0.5s;
}
.input:focus {
    border-radius: 5px;
    border-top: solid 5px rgb(26, 136, 172);
    transition: 0.5s;
    color: firebrick;
}

input[type=submit]{
    background-color: gray;
    border: solid 1px lightgray;
    border-radius: 10px;
}

input[type=submit]:hover{
    background-color: #adadad;
    border: solid 1px lightgray;
    border-radius: 10px;
}

.htmlbody {
    
    background-color: #e0e0e0;
    
}

.switch-link:foucs {
    !important color: firebrick;
}

.switch-link:hover {
    
    color: #ff8a8a;
}




.admin_sidebar { 
    z-index: 10;
    min-width: 10%;
    min-height: 100%;
    background-color: #787896;
    position: fixed;
    margin-top: 70px;

}

.admin_bar {
    z-index: 99;
    min-height: 7%;
    width: 100%;
    background-color: #474767;
    position: fixed;
    

    
    
}

.bar-items {
    
    margin:auto 40px;
}

.side_bar_items {
    
    
    border-top: solid 1px black;
    min-height: 50px;
    text-align: center;
    transition: 1s;
}

.side_bar_items:hover {
    
    background-color: #2a46a5;
    transition: 1s;
    
}

.aspect-ratio-img {
    margin-left: 200px;
    width: 200px;
    height: auto;
    
}
table,tr,td{
    border: solid 0.5px #068cb7;
    padding: 10px 5px; 
    
}
.fancy_header {
    
    font-family: fantasy;
    
}

.adminPanel:hover {
    
    background-color: aqua;
    
    
}

.mybody {
    
    
}
